html, body, div, span, h1, h2, h3, h4, p, a, img, ul, li {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-family: inherit;
	font-size: 100%;
	vertical-align: baseline
}

body {
	line-height: 1;
	color: #000;
	background: #fff;
	font: 100%/1.5 'Roboto', sans-serif;
	scroll-behavior: smooth;
	zoom: 1;
	background-color: #fff;
}

ul {
	list-style: none
}

a img {
	border: none
}

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box
}

h1 {
	font-size: 2em
}

h1, p {
	margin-bottom: .2em
}

a {
	text-decoration: none;
}

html, body {
	width: 100%
}

body:before, body:after {
	content: "";
	display: table
}

body:after {
	clear: both
}

body script {
	display: none !important
}

/* Slick Slider Fonts */
@font-face {
	font-family: 'slick';
	font-weight: normal;
	font-style: normal;

	src: url('../fonts/slick.eot');
	src: url('../fonts/slick.eot?#iefix') format('embedded-opentype'), url('../fonts/slick.woff') format('woff'), url('../fonts/slick.ttf') format('truetype'), url('../fonts/slick.svg#slick') format('svg');
}

/* Cinzel Font */
@font-face {
	font-family: CinzelDecorative-Bold;
	src: url('../fonts/CinzelDecorative-Bold.ttf');
}

/* Roboto Fonts */
@font-face {
	font-family: Roboto-Bold;
	src: url('../fonts/Roboto-Bold.ttf');
}

@font-face {
	font-family: Roboto-Italic;
	src: url('../fonts/Roboto-Italic.ttf');
}

@font-face {
	font-family: Roboto-Light;
	src: url('../fonts/Roboto-Light.ttf');
}

@font-face {
	font-family: Roboto-Regular;
	src: url('../fonts/Roboto-Regular.ttf');
}

body {
	font-family: Roboto-Regular;
	margin: 0;
	width: 100%;
	background-color: #f9f9f9;
}

.games-club-landing-page-widget.line-break-mobile {
	display: none;
}

/* Wrapper */
.games-club-landing-page-widget.wrapper {
	max-width: 1920px;
	display: block;
	margin: auto;
	background: #FFFFFF url("../images/hero-background-desktop-and-tablet.jpg") no-repeat;
	background-size: 100%;
}

/* Header */
.games-club-landing-page-widget.header {
	background-color: white;
	min-height: 3vh;
	position: relative;
	padding: 0 3vw;
}

.games-club-landing-page-widget.header-logo {
	display: flex;
	align-items: center;
}

.games-club-landing-page-widget.header-logo img {
	padding: 1.5vh 0;
	width: 20vh;
}

/* Banner */
.games-club-landing-page-widget.banner {
	/*background: url("../images/hero-background-desktop-and-tablet.jpg") no-repeat;
	background-size: 100% 100%;*/
	width: 100%;
	position: relative;
	margin-bottom: -10px;
	color: #ffffff;
	padding: 4vw;
}

.games-club-landing-page-widget.banner-content h1 {
	font-family: CinzelDecorative-Bold !important;
	color: #ffffff;
	font-size: 3vw;
	padding-bottom: 1vh;
}

.games-club-landing-page-widget.banner-content h1:after {
	height: 0.4vh;
	display: block;
	width: 18vh;
	background: orange;
	content: '';
}

.games-club-landing-page-widget.banner-content h4 {
	font-size: 2vw;
	line-height: 1.3em;
}

/* Banner Form */
.games-club-landing-page-widget.banner-form {
	padding-top: 4vh;
}

.games-club-landing-page-widget.banner-form p {
	font-family: Roboto-Light;
	font-size: 2.5vh;
}

.games-club-landing-page-widget.input-text {
	padding: 1vw 5vw;
	margin-right: 3vh;
	border: transparent;
	border-radius: 0.5vh;
	width: 23vw;
	text-align: center;
	box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.6);
}

.games-club-landing-page-widget.input-text-banner {
	padding: 1vw 2vw;
	margin-right: 3vh;
	border: transparent;
	border-radius: 0.5vh;
	width: 15vw;
	text-align: center;
	box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.6);
}

.games-club-landing-page-widget.input-button {
	background-color: #289ae6;
	border: transparent;
	border-radius: 0.5vh;
	color: #FFFFFF;
	padding: 0.8vw 0.6vw;
	font-size: large;
	width: 10.5vw;
	box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.6);
}

.games-club-landing-page-widget.input-button-banner {
	background-color: #289ae6;
	border: transparent;
	border-radius: 0.5vh;
	color: #FFFFFF;
	padding: 0.8vw 0.8vw;
	font-size: large;
	width: 10vw;
	box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.6);
}

/* Banner Desktop Badges */
.games-club-landing-page-widget.banner-badges-desktop {
	padding-top: 1rem;
	display: inline-block;
}

.games-club-landing-page-widget.banner-badges-desktop img {
	width: 6vw;
	padding-right: 2vw;
}

/* Comments */
.games-club-landing-page-widget.comments {
	width: 100%;
	margin-top: 0;
	padding: 2rem 3rem;
	background-color: #f9f9f9;
	display: inline-block;
}

/* Comment */
.games-club-landing-page-widget.comment {
	display: -webkit-flex; /* Safari */
	display: inline-flex;
	-webkit-flex-direction: row; /* Safari */
	flex-direction: row;
	padding-right: 1rem;
}

.games-club-landing-page-widget.comment img {
	width: 7rem;
	border-radius: 50%;
	padding: 0 1em;
}

.games-club-landing-page-widget.comment-text {
	color: #3d3b3b;
	font-size: small;
	line-height: 15px;
}

.games-club-landing-page-widget.username {
	padding-top: 0.5rem;
	font-family: Roboto-Italic;
	font-weight: 700;
}

/* Dots */
.games-club-landing-page-widget.slick-dots {
	display: block;
	width: 100%;
	padding: 0;
	margin: 0;
	list-style: none;
	text-align: center;
}

.games-club-landing-page-widget.slick-dots li {
	position: relative;

	display: inline-block;

	width: 1rem;
	height: 1rem;
	padding: 0;

	cursor: pointer;
}

.games-club-landing-page-widget.slick-dots li button {
	font-size: 0;
	line-height: 0;

	display: block;

	width: 1rem;
	height: 1rem;
	padding: 0 0.2rem;

	cursor: pointer;

	color: transparent;
	border: 0;
	outline: none;
	background: transparent;
}

.games-club-landing-page-widget.slick-dots li button:hover,
.slick-dots li button:focus {
	outline: none;
}

.games-club-landing-page-widget.slick-dots li button:hover:before,
.games-club-landing-page-widget.slick-dots li button:focus:before {
	opacity: 1;
}

.games-club-landing-page-widget.slick-dots li button:before {
	font-family: 'slick';
	font-size: 12px;
	line-height: 1rem;

	position: absolute;
	top: 0;
	left: 0;

	width: 20px;
	height: 20px;

	content: '•';
	text-align: center;

	opacity: .25;
	color: gray;

	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.games-club-landing-page-widget.slick-dots li.slick-active button:before {
	opacity: .75;
	color: gray;
}

/* Arrows */
.games-club-landing-page-widget.slick-prev,
.games-club-landing-page-widget.slick-next {
	font-size: 0;
	line-height: 0;

	position: absolute;
	top: 50%;

	display: block;

	width: 20px;
	height: 20px;
	padding: 0;
	-webkit-transform: translate(0, -50%);
	-ms-transform: translate(0, -50%);
	transform: translate(0, -50%);

	cursor: pointer;

	color: transparent;
	border: none;
	outline: none;
	background: transparent;
}

.games-club-landing-page-widget.slick-prev:hover,
.games-club-landing-page-widget.slick-prev:focus,
.games-club-landing-page-widget.slick-next:hover,
.games-club-landing-page-widget.slick-next:focus {
	color: transparent;
	outline: none;
	background: transparent;
}

.games-club-landing-page-widget.slick-prev:hover:before,
.games-club-landing-page-widget.slick-prev:focus:before,
.games-club-landing-page-widget.slick-next:hover:before,
.games-club-landing-page-widget.slick-next:focus:before {
	opacity: 1;
}

.games-club-landing-page-widget.slick-prev.slick-disabled:before,
.games-club-landing-page-widget.slick-next.slick-disabled:before {
	opacity: .25;
}

.games-club-landing-page-widget.slick-prev:before,
.games-club-landing-page-widget.slick-next:before {
	font-family: 'slick';
	font-size: 20px;
	line-height: 1;

	opacity: .75;
	color: #c6c4c4;

	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.games-club-landing-page-widget.slick-prev {
	left: -25px;
}

[dir='rtl'] .games-club-landing-page-widget.slick-prev {
	right: -25px;
	left: auto;
}

.games-club-landing-page-widget.slick-prev:before {
	content: '←';
}

[dir='rtl'] .games-club-landing-page-widget.slick-prev:before {
	content: '→';
}

.games-club-landing-page-widget.slick-next {
	right: -25px;
}

[dir='rtl'] .games-club-landing-page-widget.slick-next {
	right: auto;
	left: -25px;
}

.games-club-landing-page-widget.slick-next:before {
	content: '→';
}

[dir='rtl'] .games-club-landing-page-widget.slick-next:before {
	content: '←';
}

/* Game Section */
.games-club-landing-page-widget.game-section {
	display: -webkit-flex; /* Safari */
	display: inline-flex;
	-webkit-flex-direction: row; /* Safari */
	flex-direction: row;
	align-items: center;
	width: 100%;
	color: #8a69aa;
	background-color: #FFFFFF;
	padding: 4rem 4rem;
}

/* Game Section 2 */
.games-club-landing-page-widget.game-section-two {
	background: url("../images/ads-removed-background-desktop-and-tablet.jpg") no-repeat center 100%;
	background-size: cover;
	display: -webkit-flex; /* Safari */
	display: inline-flex;
	-webkit-flex-direction: row; /* Safari */
	flex-direction: row;
	align-items: center;
	width: 100%;
	color: #FFFFFF;
	padding: 5rem 4rem;
}

.games-club-landing-page-widget.game-section-two .games-club-landing-page-widget.slick-dots li button:before {
	color: white;
}

.games-club-landing-page-widget.game-section-two .games-club-landing-page-widget.slick-prev:before,
.games-club-landing-page-widget.game-section-two .games-club-landing-page-widget.slick-next:before {
	color: #FFFFFF;
}

/* Game Feature */
.games-club-landing-page-widget.game-feature {
	width: 52%;
	text-align: center;
	padding: 0 7.5vw;
}

.games-club-landing-page-widget.game-feature i {
	font-size: 10vw;
}

.games-club-landing-page-widget.game-feature h2 {
	font-family: Roboto-Bold;
	font-size: 2vw;
}

.games-club-landing-page-widget.game-feature p {
	font-family: Roboto-Light;
	font-size: 2vw;
	line-height: 2.2vw;
}

/* Slider */
.games-club-landing-page-widget.game-slider {
	width: 52%;
	padding: 3vw 0;
}

/* Slider - Slide */
.games-club-landing-page-widget.slide {
	padding: 1vw;
}

.games-club-landing-page-widget.strike {
	text-decoration: line-through;
}

.games-club-landing-page-widget.slider-container {
	position: relative;
	width: 100%;
	box-shadow: 0px -1px 5px 0px rgba(0, 0, 0, 0.6);
}

.games-club-landing-page-widget.slider-image {
	display: block;
	width: 100%;
	margin: 0;
	padding: 0;
	height: auto;
}

.games-club-landing-page-widget.slider-overlay {
	position: absolute;
	top: 80%;
	bottom: 0;
	left: 0;
	right: 0;
	height: 20%;
	width: 100%;
	opacity: 0;
	transition: .5s ease;
	background-color: rgba(0, 0, 0, 0.5);

}

.games-club-landing-page-widget.slider-container .games-club-landing-page-widget.slider-overlay {
	opacity: 1;
}

.games-club-landing-page-widget.purple {
	background-color: #8a69aa;
	color: #fff;
}

.games-club-landing-page-widget.white {
	background-color: #FFFFFF;
	color: #8a69aa;
}

.games-club-landing-page-widget.blue {
	background-color: #7DC3DB;
	color: #fff;
}

.games-club-landing-page-widget.slider-steps {
	padding: 3px 8px;
	font-size: 0.65em;
	display: inline-block !important;
}

.games-club-landing-page-widget.slider-steps img {
	width: 1vw;
	float: left;
	margin-right: 0.5vw;
}

.games-club-landing-page-widget.slider-rating img {
	width: 4vw;
}

.games-club-landing-page-widget.slider-text a {
	color: white;
	font-size: 0.8vw;
	position: absolute;
	background: #289ae6;
	top: 50%;
	right: -10%;
	padding: 0.18vw 0.6vw;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	text-decoration: none;
	text-transform: uppercase;
}

.games-club-landing-page-widget.slider-rating {
	color: white;
	font-size: 1vw;
	position: absolute;
	font-weight: 900;
	top: 50%;
	left: 10%;
	padding: 5px 10px;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
}

.games-club-landing-page-widget.fa-star {
	color: #ebaf47;
}

/* See All Games */
.games-club-landing-page-widget.see-all-games {
	background: url("../images/hero-image-1-full.jpg");
	background-size: 100% 100%;
	text-align: center;
	vertical-align: middle;
	padding: 10vw;
}

.games-club-landing-page-widget.see-all-games a {
	background-color: #289ae6;
	color: white;
	padding: 0.8vw 2.5vw;
	font-weight: 900;
	text-transform: uppercase;
	border-radius: 0.2rem;
	box-shadow: 0 3px 6px 3px rgba(0, 0, 0, 0.6);
}

/* Footer */
.games-club-landing-page-widget.footer {
	background-color: #FFFFFF;
	border-top: 1px solid #d8d4d4;
	border-bottom: 1px solid #d8d4d4;
}

.games-club-landing-page-widget.footer-links {
	width: 100%;
	display: -webkit-flex; /* Safari */
	display: inline-flex;
	-webkit-flex-direction: row; /* Safari */
	flex-direction: row;
	-webkit-justify-content: center; /* Safari */
	justify-content: center;
	text-align: center;
	font-size: 2vh;
}

.games-club-landing-page-widget.footer-links-list {
	padding: 2rem 2rem;
	line-height: 1rem;
}

.games-club-landing-page-widget.footer-links-list h4 {
	font-family: Roboto-Light;
	font-weight: 700;
	font-size: small;
	color: dimgrey;
}

.games-club-landing-page-widget.footer-links-list a {
	color: dimgrey;
	font-family: Roboto-Light;
	font-size: x-small;
}

.games-club-landing-page-widget.footer-logo {
	float: right;
	font-family: Roboto-Light;
	font-size: x-small;
	padding: 1em 4rem;
}

.games-club-landing-page-widget.footer-logo img {
	width: 6rem;
	vertical-align: middle;
}

.games-club-landing-page-widget.footer-logo-powered-by {
	padding-left: 10px;
}

/* Discount */
.games-club-landing-page-widget.discount {
	width: 100%;
	background-color: #f9f9f9;
	display: -webkit-flex; /* Safari */
	display: inline-flex;
	-webkit-flex-direction: row; /* Safari */
	flex-direction: row;
	padding: 1rem;
}

/* Start Playing Now */
.games-club-landing-page-widget.start-playing-now {
	font-family: Roboto-Light;
	color: #FFFFFF;
	background: url("../images/start-playing-now-background-desktop-and-tablet.jpg") right center no-repeat;
	width: 45%;
	padding: 6rem 2rem;
}

.games-club-landing-page-widget.start-playing-now h2 {
	font-family: Roboto-Bold;
	font-size: 4.5vw;
}

.games-club-landing-page-widget.start-playing-now h4 {
	font-size: 2vw;
	padding: 0.7vh 0;
}

.games-club-landing-page-widget.start-playing-now p {
	font-size: 1.5vw;
	padding: 0.4vw 0;
}

.games-club-landing-page-widget.start-playing-now input {
	margin: 0.5rem 0;
}

/* Opening Offer */
.games-club-landing-page-widget.opening-offer {
	width: 55%;
	padding: 2rem 2.5rem;
}

.games-club-landing-page-widget.opening-offer h2 {
	font-family: Roboto-Light;
	font-size: 3vw;
	padding-bottom: 1vw;
	color: #aaa7a7;
}

.games-club-landing-page-widget.opening-offer li:before {
	background: url("../images/bullet.png") no-repeat;
	background-size: 2vw 2vw;
	display: inline-block;
	width: 2.2vw;
	height: 2vw;
	padding-right: 10px;
	content: "";
	color: #289ae6;
}

.games-club-landing-page-widget.opening-offer ul {
	display: -ms-flexbox; /* IE 10 */
	display: -webkit-flex; /* Safari */
	display: flex;
	-webkit-flex-flow: wrap column; /* Safari */
	flex-flow: wrap column;
	max-height: 12vw;
}

.games-club-landing-page-widget.opening-offer li {
	font-family: Roboto-Light;
	font-size: 1.7vw;
	line-height: 4vw;
	color: #7d747b;
}

.games-club-landing-page-widget.price-blue {
	color: #289ae6;
	line-height: 3rem;
	padding: 1vw 0;
}

.games-club-landing-page-widget.price-blue h1 {
	color: #289ae6;
	font-size: 7vw;
	padding: 1vw 0;
}

.games-club-landing-page-widget.price-blue h1 > span {
	text-decoration: line-through;
}

.games-club-landing-page-widget.price-blue h3 {
	font-size: 7vh;
}

.games-club-landing-page-widget.mobile {
	display: none;
}

/* 1920 */
@media all and (min-width: 1921px) {

	.games-club-landing-page-widget.banner-content h4 {
		font-size: 36px;
	}

	.games-club-landing-page-widget.banner-content h1 {
		font-size: 56px;
	}

	.games-club-landing-page-widget.banner {
		padding: 80px;
	}

	/* Slider - Slide */
	.games-club-landing-page-widget.slide {
		padding: 10px;
	}

	.games-club-landing-page-widget.slider-steps {
		padding: 3px 8px;
		font-size: 18px;
	}

	.games-club-landing-page-widget.slider-steps img {
		width: 24px;
		margin-right: 10px;
	}

	.games-club-landing-page-widget.slider-rating img {
		width: 27px;
	}

	.games-club-landing-page-widget.slider-text a {
		font-size: 18px;
		padding: 5px 8px;
	}

	.games-club-landing-page-widget.slider-rating {
		font-size: 25px;
		position: absolute;
	}

	/* Input */
	.games-club-landing-page-widget.input-text {
		padding: 20px 30px;
		margin-right: 30px;
		border: transparent;
		border-radius: 0.5vh;
		font-size: 30px;
		width: 520px;
	}

	.games-club-landing-page-widget.input-text-banner {
		padding: 20px;
		margin-right: 30px;
		border: transparent;
		border-radius: 0.5vh;
		width: 360px;
		font-size: 30px;
		text-align: center;
		box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.6);
	}

	.games-club-landing-page-widget.input-button {
		background-color: #289ae6;
		border: transparent;
		border-radius: 0.5vh;
		color: #FFFFFF;
		padding: 20px 25px;
		font-size: 30px;
		width: 220px;
		box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.6);
	}

	.games-club-landing-page-widget.input-button-banner {
		background-color: #289ae6;
		border: transparent;
		border-radius: 0.5vh;
		color: #FFFFFF;
		padding: 20px;
		font-size: 30px;
		width: 220px;
		box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.6);
	}

	/* Discount */
	.games-club-landing-page-widget.discount {
		width: 100%;
		padding: 10px;
	}

	/* Start Playing Now */
	.games-club-landing-page-widget.start-playing-now {
		width: 45%;
		padding: 120px 30px;
	}

	.games-club-landing-page-widget.start-playing-now h2 {
		font-size: 90px;
	}

	.games-club-landing-page-widget.start-playing-now h4 {
		font-size: 45px;
		padding: 10px 0;
	}

	.games-club-landing-page-widget.start-playing-now p {
		font-size: 35px;
		padding: 0.4vw 0;
	}

	.games-club-landing-page-widget.start-playing-now input {
		margin: 0.5em 0;
	}

	/* Opening Offer */
	.games-club-landing-page-widget.opening-offer {
		width: 55%;
		padding: 40px 30px;
	}

	.games-club-landing-page-widget.opening-offer h2 {
		font-size: 60px;
		padding-bottom: 5px;
	}

	.games-club-landing-page-widget.opening-offer li:before {
		background-size: 30px 30px;
		width: 33px;
		height: 30px;
		padding-right: 10px;
	}

	.games-club-landing-page-widget.game-feature {
		padding: 0 3rem;
	}

	.games-club-landing-page-widget.opening-offer ul {
		max-height: 250px;
	}

	.games-club-landing-page-widget.opening-offer li {
		font-size: 40px;
		line-height: 80px;
	}

	.games-club-landing-page-widget.price-blue {
		line-height: 40px;
		padding: 50px 0;
	}

	.games-club-landing-page-widget.price-blue h1 {
		font-size: 160px;
		padding: 35px 0;
	}

	.games-club-landing-page-widget.price-blue h3 {
		font-size: 80px;
	}
}

/* Tablet and Mobile */
@media all and (max-width: 960px) {

	.games-club-landing-page-widget.line-break-mobile {
		display: inherit;
	}

	.let-them-play-widget.arrow {
		width: 60px;
		height: 30px;
		position: absolute;
		top: 0;
		overflow: hidden;
		left: 50%;
		margin-left: -30px;
		margin-top: 0;
		z-index: 100;
	}

	.let-them-play-widget.arrow.top {
		top: 0px;
	}

	.let-them-play-widget.arrow div {
		width: 60px;
		height: 60px;
		background-color: #fff;
		background-image: url("../images/arrow.svg?pv=582064912069-8");
		background-repeat: no-repeat;
		-webkit-border-radius: 50%;
		border-radius: 50%;
		background-position: 0 0;
		margin-top: 0;
	}

	.let-them-play-widget.arrow.gray div {
		background-color: #f9f9f9;
	}

	.let-them-play-widget.arrow.top div {
		background-position: 0 26px;
		margin-top: -30px;
	}

	/* Wrapper */
	.games-club-landing-page-widget.wrapper {
		background: #FFFFFF url("../images/hero-background-mobile.jpg") no-repeat;
		background-size: 100% auto;
	}

	/* Banner */
	.games-club-landing-page-widget.banner {
		/*background: url("../images/hero-background-mobile.png") no-repeat;
		background-size: 100% 100%;*/
		width: 100%;
		color: #ffffff;
		padding: 10vw 4vw;
		text-align: center;
		position: relative;
	}

	.games-club-landing-page-widget.banner-content h1 {
		font-family: CinzelDecorative-Bold !important;
		color: #ffffff;
		font-size: 10vw;
		line-height: 11vw;
	}

	.games-club-landing-page-widget.underline {
		font-size: xx-large;
		line-height: 7vw;
		font-family: Roboto-Light;
	}

	.games-club-landing-page-widget.tags {
		width: 100%;
		display: -webkit-flex; /* Safari */
		display: flex;
		-webkit-flex-direction: row; /* Safari */
		flex-direction: row;
		-webkit-justify-content: center;
		justify-content: center;
	}

	.games-club-landing-page-widget.banner-content h4 {
		font-size: 4.5vw;
		line-height: 1.3em;
	}

	.games-club-landing-page-widget.banner-form p {
		font-family: Roboto-Light;
		font-size: 3.5vw;
	}

	.games-club-landing-page-widget.banner-badges-desktop {
		display: none;
	}

	.games-club-landing-page-widget.desktop {
		display: none;
	}

	.games-club-landing-page-widget.mobile {
		display: block;
	}

	.games-club-landing-page-widget.input-text-banner {
		padding: 0.8vw 4vw;
		margin-right: 0;
		border: transparent;
		border-radius: 0.5vh;
		text-align: center;
		width: 15vw;
		box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.6);
	}

	.games-club-landing-page-widget.input-text {
		padding: 0.8vw 1.8vw;
		margin-right: 0;
		border: transparent;
		border-radius: 0.5vh;
		text-align: center;
		box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.6);
	}

	.games-club-landing-page-widget.input-text-banner {
		padding: 4vw 4vw;
		margin-top: 4vw;
		font-size: 4.5vw;
		width: 85vw;
	}

	.games-club-landing-page-widget.input-text {
		padding: 4vw 12vw;
		font-size: xx-large;
		width: 80vw;
	}

	.games-club-landing-page-widget.input-button-banner {
		padding: 3.5vw 10vw;
		margin-top: 3vw;
		font-size: xx-large;
		width: 40vw;
	}

	.games-club-landing-page-widget.input-button {
		padding: 3vw 3vw;
		margin-top: 3vw;
		font-size: x-large;
		width: 35vw;
	}

	.games-club-landing-page-widget.comments {
		padding: 6vw 4vw 4vw;
	}

	/* Comments */
	.games-club-landing-page-widget.comment-text {
		font-size: 3.7vw;
	}

	/* Game Section */
	.games-club-landing-page-widget.game-section {
		-webkit-flex-direction: column; /* Safari */
		flex-direction: column;
		width: 100%;
		padding: 1vw 0;
		background-color: #FFFFFF;
		position: relative;
	}

	/* Game Section 2 */
	.games-club-landing-page-widget.game-section-two {
		background: url("../images/ads-removed-background-mobile.jpg") no-repeat center 100%;
		background-size: cover; /* <------ */
		background-position: center center;
		-webkit-flex-direction: column-reverse; /* Safari */
		flex-direction: column-reverse;
		width: 100%;
		padding: 1vw 0;
	}

	/* Game Feature */
	.games-club-landing-page-widget.game-feature {
		width: 100%;
		padding: 4vw 4vw;
		text-align: left;
	}

	.games-club-landing-page-widget.game-feature img {
		display: none;
	}

	.games-club-landing-page-widget.game-feature .paid-games-included-text::after {
		background-image: url("../images/icon_gift.png");
		content: "";
		width: 8vw;
		margin-left: 8px;
		height: 8vw;
		background-size: 8vw 8vw;
		display: inline-block;
		background-position-y: 1vw;
		background-repeat: no-repeat;
	}

	.games-club-landing-page-widget.game-feature .ads-removed-text::after {
		background-image: url("../images/icon_ribbon_white.png");
		content: "";
		width: 8vw;
		margin-left: 8px;
		height: 8vw;
		background-size: 8vw 8vw;
		display: inline-block;
		background-position-y: 0.3vw;
		background-repeat: no-repeat;
	}

	.games-club-landing-page-widget.game-feature .free-in-app-text::after {
		background-image: url("../images/icon_diamond.png");
		content: "";
		width: 8vw;
		margin-left: 8px;
		height: 8vw;
		background-size: 8vw 8vw;
		display: inline-block;
		background-position-y: 0.4vw;
		background-repeat: no-repeat;
	}

	.games-club-landing-page-widget.game-feature img {
		width: 7vw;
	}

	.games-club-landing-page-widget.game-feature h2 {
		font-family: Roboto-Bold;
		font-size: 7vw;
	}

	.games-club-landing-page-widget.game-feature p {
		font-family: Roboto-Light;
		font-size: 6vw;
		line-height: 7.3vw;
	}

	/* Slider */
	.games-club-landing-page-widget.game-slider {
		width: 100%;
		margin-top: 5vw;
		padding-top: 4vw;
	}

	.games-club-landing-page-widget.game-slider .slack-list {
		margin-left: -3vw;
	}

	.games-club-landing-page-widget.slider-text a {
		font-size: 4.2vw;
		padding: 0.18vw 1.3vw;
	}

	.games-club-landing-page-widget.slider-steps {
		font-size: 2.8vw;
		padding: 1.2vw 2.5vw;
	}

	.games-club-landing-page-widget.slider-steps img {
		width: 4vw;
		float: left;
		padding-top: 0;
		margin-right: 1.2vw;
	}

	/* See All Games */
	.games-club-landing-page-widget.see-all-games {
		background: url("../images/hero-image-1.jpg");
		background-size: 100% 100%;
		padding: 30vw 15vw;
	}

	.games-club-landing-page-widget.see-all-games a {
		padding: 3vw 9vw;
		font-size: 4vw;
	}

	/* Footer */
	.games-club-landing-page-widget.footer-links {
		-webkit-flex-direction: column; /* Safari */
		flex-direction: column;
		padding: 7vw 0;
	}

	.games-club-landing-page-widget.footer-links-list {
		padding: 2vw 2vw;
	}

	.games-club-landing-page-widget.footer-links-list h4 {
		font-size: 5vw;
		line-height: 7vw;
	}

	.games-club-landing-page-widget.footer-links-list li > a {
		font-size: 4vw;
		line-height: 7vw;
	}

	.games-club-landing-page-widget.footer-logo, .games-club-landing-page-widget.footer-logo-image {
		float: none;
		text-align: center;
		margin: auto;
		padding: 2vw 0;
	}

	.games-club-landing-page-widget.slider-rating {
		font-size: 5vw;
	}

	/* Discount */
	.games-club-landing-page-widget.discount {
		-webkit-flex-direction: column-reverse; /* Safari */
		flex-direction: column-reverse;
		padding: 0;
	}

	/* Start Playing Now */
	.games-club-landing-page-widget.start-playing-now {
		width: 100%;
		text-align: center;
		background: url("../images/start-playing-now-background-mobile.jpg.png") right center no-repeat;
		padding: 5vw 2vw;
	}

	.games-club-landing-page-widget.start-playing-now h2 {
		font-family: Roboto-Light;
		font-size: 9vw;
	}

	.games-club-landing-page-widget.start-playing-now p {
		font-size: 2.7vw;
	}

	/* Opening Offer */
	.games-club-landing-page-widget.opening-offer {
		width: 100%;
		text-align: center;
		padding: 2rem 2.5rem;
	}

	.games-club-landing-page-widget.opening-offer h2 {
		font-size: 10vw;
	}

	.games-club-landing-page-widget.price-blue {
		padding: 0;
	}

	.games-club-landing-page-widget.price-blue h1 {
		font-size: 25vw;
		line-height: 35vw;
		margin-bottom: 0;
		padding-bottom: 0;
	}

	.games-club-landing-page-widget.price-blue p {
		font-size: 5vw;
		padding-top: 0;
		font-style: italic;
	}

	.games-club-landing-page-widget.price-blue h3 {
		font-size: 10vw;
	}

	.games-club-landing-page-widget.opening-offer ul {
		display: block;
		max-height: 100%;
		text-align: left;
		padding: 5vw 4vw;
	}

	.games-club-landing-page-widget.opening-offer li {
		font-size: 5.5vw;
		line-height: 12vw;
	}

	/* Tick */
	.games-club-landing-page-widget.opening-offer li:before {

		background-size: 5vw 5vw;
		width: 5.5vw;
		height: 5vw;
		padding-right: 3vw;
	}

	.games-club-landing-page-widget.banner-content h1:after {
		display: none;
	}
}

/* Mobile */
@media all and (max-width: 480px) {

	.games-club-landing-page-widget.banner-content h1 {
		font-family: CinzelDecorative-Bold !important;
		color: #ffffff;
		font-size: 10vmin;
		line-height: 13vmin;
		margin-bottom: 0;
	}

	.games-club-landing-page-widget.underline {
		font-size: xx-large;
		line-height: 7vw;
	}

	.games-club-landing-page-widget.tags {
		width: 100%;
		display: -webkit-flex; /* Safari */
		display: flex;
		-webkit-flex-direction: row; /* Safari */
		flex-direction: row;
		-webkit-justify-content: center;
		justify-content: center;
	}

	.games-club-landing-page-widget.banner-content h4 {
		font-size: 4.5vw;
		line-height: 1.3em;
		padding-left: 0.3em;
	}

	.games-club-landing-page-widget.banner-form p {
		font-family: Roboto-Light;
		font-size: 3.5vw;
		color: #eeeeee;
	}

	.games-club-landing-page-widget.banner-badges-desktop {
		display: none;
	}

	.games-club-landing-page-widget.desktop {
		display: none;
	}

	.games-club-landing-page-widget.mobile {
		display: block;
	}

	.games-club-landing-page-widget.input-text-banner {
		padding: 0.8vw 1.8vw;
		margin-right: 0;
		border: transparent;
		border-radius: 0.5vh;
		text-align: center;
		box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.6);
	}

	.games-club-landing-page-widget.input-text {
		padding: 0.8vw 1.8vw;
		margin-right: 0;
		border: transparent;
		border-radius: 0.5vh;
		text-align: center;
		font-size: 4.5vw;
		box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.6);
	}

	.games-club-landing-page-widget.input-text-banner {
		padding: 4vw 20vw;
		margin-top: 1vw;
		font-size: 4.5vw;
	}

	.games-club-landing-page-widget.input-text {
		padding: 4vw 17vw;
	}

	.games-club-landing-page-widget.input-button-banner {
		padding: 3.5vw 10vw;
		margin-top: 3vw;
		font-size: medium;
	}

	.games-club-landing-page-widget.input-button {
		padding: 2.5vw 6vw;
		margin-top: 3vw;
		font-size: medium;
	}

	/* Start Playing Now */
	.games-club-landing-page-widget.start-playing-now h2 {
		font-family: Roboto-Light;
		font-size: 7vw;
		padding: 3vw 0;
	}

	/* Opening Offer */
	.games-club-landing-page-widget.price-blue p {
		font-size: 7vw;
	}
}
